<div class="singer-ul">
    <ul>
        <li ng-repeat="item in newShou.first"><a href="#" class="singer-li-a"><i class="fa fa-angle-right"></i></a><span>{{item.name}}</span></li>
    </ul>
    <ul>
        <li ng-repeat="item in newShou.first"><a href="#" class="singer-li-a"><i class="fa fa-angle-right"></i></a><span>{{item.name}}</span></li>
    </ul>
    <ul>
        <li ng-repeat="item in newShou.first"><a href="#" class="singer-li-a"><i class="fa fa-angle-right"></i></a><span>{{item.name}}</span></li>
    </ul>
</div>
